[client]
# The client section is read by mycli and all MySQL applications.

# Default connection information
#user = thor
#password = hammer
#host = localhost
#database = asgard
#port = 3306

# Connect via a socket.
# socket = '/tmp/mysql.sock'

# Use the UTF-8 character set
#default-character-set = utf-8

# SSL options - see the MySQL documentation for more information.
# https://dev.mysql.com/doc/refman/5.7/en/secure-connection-options.html#option_general_ssl-ca
# ssl-ca
# ssl-cert
# ssl-key
# ssl-cipher
# ssl-verify-server-cert

# Turn on the LOAD DATA INFILE statement
# local-infile = on

# Another local infile alias.
# Use it if the previous one clashes with other MySQL tools.
# loose-local-infile = on

# Configure the pager
pager = 'nvim -R -c "syntax off | set lazyredraw | set nowrap" -'
