---
- name: Configure mise
  hosts: localhost

  vars:
    mise_home: '{{ ansible_env.HOME }}/.config/mise'

  tasks:
    - name: All => install mise
      ansible.builtin.shell: |
        curl https://mise.run | sh

    - name: Create mise config directory
      ansible.builtin.file:
        path: '{{ ansible_env.HOME }}/.config/mise'
        state: directory
        mode: 0755

    - name: Link config.toml
      ansible.builtin.file:
        src: '{{ ansible_env.PWD }}/../../mise/config.toml'
        dest: '{{ ansible_env.HOME }}/.config/mise/config.toml'
        state: link
        force: true

    - name: Reset mise configs state
      ansible.builtin.shell: |
        # To prevent from mise ignores the global config wrongly
        rm -rf {{ ansible_env.HOME }}/.local/state/mise/**
        # Trust all config files in the current directory and its parents
        mise trust --all

    - name: Ensure mise is sourced in .zshrc
      ansible.builtin.shell: |
        mkdir -p "{{ mise_home }}/completions"
        mise completion zsh > "{{ mise_home }}/completions/_mise"

    - name: MacOS => Install dependencies for tools
      when: ansible_distribution == 'MacOSX'
      community.general.homebrew:
        name:
          - autoconf              # PHP requires autoconf >= 2.68
          - bison                 # PHP requires bison >= 3.0.0
          - re2c                  # PHP requires re2c 1.0.3 to generate PHP lexers
          - pkg-config            # PHP requires pkg-config
          - gd                    # PHP requires gdlib >= 2.1.0
          - libiconv              # PHP requires libiconv
          - icu4c                 # PHP requires icu
          - oniguruma             # PHP requires oniguruma to process mbstring and regex
          - libzip                # PHP requires libzip
          - openssl               # PHP requires openssl to process https and security
          - libxml2               # PHP requires libxml2 to process XML
          - cmake                 # PHP requires cmake to build extensions
        state: present

    - name: Ubuntu => Install dependencies for tools
      when: ansible_distribution == 'Ubuntu'
      apt:
        name:
          - build-essential       # Compiler and build tools
          - locate                # File locating utility
          - autoconf              # Used to generate configuration scripts
          - bison                 # Used to generate parsers
          - re2c                  # Used to generate lexical analyzers
          - pkg-config            # Used to manage library and header file paths at compile time
          - libgd-dev             # Image processing library development files
          - libiconv-hook-dev     # Character set conversion library development files
          - libicu-dev            # Unicode and international components development files
          - libonig-dev           # Regular expression library (oniguruma) development files
          - libzip-dev            # ZIP file handling library development files
          - libssl-dev            # OpenSSL encryption library development files
          - libxml2-dev           # XML parsing library development files
          - libsqlite3-dev        # SQLite3 database library development files
          - libcurl4-openssl-dev  # cURL library development files with OpenSSL support
          - libpq-dev             # PostgreSQL database library development files
          - libreadline-dev       # Readline library development files
          - cmake                 # Cross-platform build system
        state: latest
      become: true

    - name: MacOS => install PHP solely
      when: ansible_distribution == 'MacOSX'
      ansible.builtin.shell: |
        cd {{ mise_home }}
        php_version=$(mise config get tools.php)
        if [[ -n $php_version ]]; then
          # Unable to find the wrapper "https"
          # https://github.com/asdf-community/asdf-php/issues/163
          export MISE_BACKENDS_PHP='vfox:mise-plugins/vfox-php'
          mise uninstall php@$php_version
          mise plugin remove php
          mise install php@$php_version
        fi

    - name: Install tools listed in .config/mise/config.toml
      ansible.builtin.shell: |
        cd {{ mise_home }}
        mise install
