---
- name: Postflight
  hosts: localhost

  tasks:
    - name: Ubuntu => Remove useless packages, dependencies and their configuration files
      when: ansible_distribution == 'Ubuntu'
      ansible.builtin.apt:
        autoclean: yes
        autoremove: yes
      become: true

    - name: All => Approve all builds of pnpm
      ansible.builtin.command: pnpm approve-builds -g all

    - name: All => Reshim all packages installed by a version manager
      ansible.builtin.shell: |
        if command -v asdf &> /dev/null; then
          asdf reshim
        elif command -v mise &> /dev/null; then
          mise reshim
        fi

