---
- name: Configure wezterm
  hosts: localhost

  tasks:
    - name: MacOSX => install wezterm
      when: ansible_distribution == 'MacOSX'
      community.general.homebrew_cask:
        name: wezterm@nightly
        install_options: force # Force re-installation even if the latest version is already installed

    - name: Link .wezterm.lua
      ansible.builtin.file:
        src: '{{ ansible_env.PWD }}/../../wezterm/wezterm.lua'
        dest: '{{ ansible_env.HOME }}/.wezterm.lua'
        state: link
        force: true
