---
- name: Configure zsh
  hosts: localhost

  vars:
    zsh_plugin_dir: '{{ ansible_env.HOME }}/.oh-my-zsh/custom/plugins'

  tasks:
    - name: MacOS => install zsh
      when: ansible_distribution == 'MacOSX'
      community.general.homebrew:
        name: zsh

    - name: Ubuntu => install zsh
      when: ansible_distribution == 'Ubuntu'
      apt:
        name: zsh
        state: latest
      become: true

    - name: Change default shell to zsh
      ansible.builtin.shell: |
        # Change default shell to zsh
        if [[ -t 1 ]]; then # Check if the stdout (descriptor is 1) is a tty (interactive terminal)
          chsh -s $(which zsh)
        fi
      become: true

    - name: Install oh-my-zsh
      ansible.builtin.shell:
        cmd: 'sh -c "$(curl -fsSL https://raw.github.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"'
        creates: '{{ ansible_env.HOME }}/.oh-my-zsh'

    - name: Link .zshenv
      ansible.builtin.file:
        src: '{{ ansible_env.PWD }}/../../zsh/zshenv'
        dest: '{{ ansible_env.HOME }}/.zshenv'
        state: link
        force: true

    - name: Link .zprofile
      ansible.builtin.file:
        src: '{{ ansible_env.PWD }}/../../zsh/zprofile'
        dest: '{{ ansible_env.HOME }}/.zprofile'
        state: link
        force: true

    - name: Link .zshrc
      ansible.builtin.file:
        src: '{{ ansible_env.PWD }}/../../zsh/zshrc'
        dest: '{{ ansible_env.HOME }}/.zshrc'
        state: link
        force: true
